.box {
    width: 50%;
    height: auto;
    margin: auto;
    margin-top: 2em;
    border: 1em rgb(79, 192, 192);
    border-style:solid;
    border-left: 0px;
    border-right: 0px;
    border-radius: 2em;
}

.search_box{
    overflow: hidden;
  background-color: #242424;
  float: left;
  display: block;
  color: rgb(255, 106, 106);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  top: 0;
  position: sticky;
  z-index: 100;
  border-radius: 35px;
}

.textBox{
    background-color:rgb(134, 134, 134);
    font-family: 'Comic Sans MS';
    border-color: rgb(0, 0, 0);
}
.btn{
    background-color:#797979;
    font-family: 'Comic Sans MS';
    font-style: oblique;
    border-radius: 7px;
}

.btn:active {
    background-color: #ad9e9e;
    box-shadow: 0 4px rgb(63, 63, 63);
    transform: translateY(3px);
  }

.btn:hover {background-color: #ad9e9e}

h1{
    margin: 0px;
}

h2{
    color: rgb(224, 248, 178);
    margin-left: 10px;
    text-align: center;
}

h3{
    color:greenyellow;
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
  }

body{
    background-color: rgb(24, 24, 24);
    font-family: 'Comic Sans MS';
}